<%-include('./partials/header')%>

<div class="sign-in-box" >
    <div class="form-group">
        <form action="/sign_in" method="POST">
            <label class="font-weight-bold">Username</label>
            <input type="text" class="form-control " name="username" placeholder="e.g. Madam Welminister" required>
        </div>
        <div class=" d-flex flex-row-reverse">
            <button type="submit" id="sign-in-cluck-button" class="btn btn-outline-secondary font-weight-bold ">Sign in</button>
        </div>
        
        </form>
</div>

<%-include('./partials/footer')%>

