<div class="container-fluid">
    <h3>Ideas</h3>

    <% @ideas.each do |idea| %>
    <div>
        <div class="d-flex">
            <div class="mr-2 plus-sign sibs">
                <p>+</p>
            </div>
            <div class="sibs">
                <%= link_to(idea.title, idea_path(idea.id)) %> 
                <div class="description">
                    <p><%= idea.description %></p>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>